@keyframes slideDown {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-down {
  animation-name: slideDown;
  animation-duration: 0.7s;
}

@keyframes slideUp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation-name: slideUp;
  animation-duration: 0.7s;
}
